<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SX</title>
  <link rel="shortcut icon" type="image/png" href="../../build/img/favicon.ico"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
  <link rel="stylesheet" href="../../build/css/bootstrap.css">
  <link rel="stylesheet" href="../../build/css/nodeCursor.css">
  <link rel="stylesheet" href="../../build/css/style.css">
</head>
<body class="">
    <div class="app">
        <!-- PROGRESS BAR -->
        <div class="progress-container">
            <div class="progress-bar"></div>
        </div>
        <!-- PROGRESS BAR END-->
        <div class="header-wrapper">
            <!-- FileInjector:header -->
        </div>

        <div class="pages-wrapper">
            <!-- FileInjector:pagesContent -->
        </div>
        <div class="footer-wrapper">
            <!-- FileInjector:footer -->
        </div>
        <div class="pop-up-overlay-wrapper">
            <div class="overlay-pop-up"></div>
            <!-- FileInjector:popUp -->
        </div>

    </div>
    <!-- create cursor markups  -->
    <div class="node" id="node"></div>
    <div class="loader">
        <div class="load-color-1"></div>
        <div class="load-color-2"></div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../build/js/bootstrap.min.js"></script>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=071f900c-e329-4526-ab49-991f1325aa21&lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
    <script src="../../build/js/jquery.maskedinput.min.js"></script>
    <script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
    <script src="../../build/js/form.js"></script>
    <script src="../../build/js/nodecursor-jquery.js"></script>
    <script src="../../build/js/main.js"></script>

</body>
</html>
