<div class="pop-up-form-block">
    <form action="">
        <div class="form-block">
            <p class="pop-up-form-block-title">Свяжитесь с нами сейчас</p>
            <p class="pop-up-form-block-title-second">Оставьте заявку, и наш оператор перезвонит Вам через 2 минуты</p>
            <input type="text" name="name" class="pop-up-form-block-input input-name" placeholder="Имя">
            <input type="tel" name="phone" class="pop-up-form-block-input mask-input" placeholder="+7 (___) ___-__-__">
            <input class="pop-up-send-form-btn" type="submit" value="Вызвать мастера">
            <label class="checkbox checkbox-agree">
                <input class="checkbox-input" type="checkbox" checked>
                <div class="checkbox__text"><span>Я прочел и согласен с <a href="#">обработкой данных </a></span></div>
            </label>
        </div>
    </form>
    <div class="pop-up-close-btn"></div>
</div>
