<header class="">
    <a href="/" class="logo nodeHover">
        <img class="logo-white" src="../../build/img/logo-white.png" alt="logo">
        <img class="logo-black" src="../../build/img/logo-black.png" alt="logo">
    </a>
    <div class="flex-wrp">
        <ul class="nav-list">
            <li class="nodeHover header-scroll-list"><a href="#">Обсудить проект</a></li>
            <li class="nodeHover header-fix-list"><a class="nav-links scrollTo" href="#price">Цены</a></li>
            <li class="nodeHover header-fix-list"><a class="nav-links" href="#">Портфолио</a></li>
            <li class="nodeHover header-fix-list"><a class="nav-links scrollTo" href="#team">О нас</a></li>
            <li class="nodeHover header-fix-list"><a class="nav-links" href="#">Контакты</a></li>
        </ul>
        <div class="burger nodeHover">
            <span></span>
        </div>
    </div>
</header>
